@import url(http://fonts.googleapis.com/css?family=Crafty+Girls|Noto+Serif|Pacifico);

h1{}

h2{

}

table {
  border: groove green 10px
}

table td {
  border: solid black 5px;
}
table tr:nth-child(2n){
  background-color: gray;
}
