<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Checkers</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home Page</a>
      <a href="/checkers">Checker Board</a>
      <a href="/add/">Sum</a>
      <a href="/sumlist">Sum List</a>
    </nav>

    <h1>Checker Board</h1>
    <table id="checkerboard" width="400" height="400">
      <% var rows = 0 %>
      <% var cols = 0 %>
      <% for (var rows = 0; rows<8; rows++){ %>
        <tr>
         <% for (var cols = 0; cols<8; cols++){ %>
           <td>
         <% } %>
       <% } %>
     </table>
  </body>
</html>

